.teacher_nav {
    padding: 16px;
}

.teacher_nav_block {
    height: 64px;
    background-color: #A3B18A;
    color: #000;
    font-size: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher_nav_homework {
    font-size: 20px;
}