.teacher_homework_view {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.teacher_homework_view_content {
    background-color: #A3B18A;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #A3B18A;
    margin-bottom: 16px;
    flex: 1 1 auto;
}

.teacher_homework_view_menu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.teacher_homework_view_button {
    width: 256px;
    height: 64px;
    background-color: #344E41;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}