<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINK -->
    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="logo">MyD</div>
        <a href="{{ url_for('profile') }}">
            <div class="profile">
                <!-- PROFILE -->
                <img src="{{ url_for('static', filename='img/icon-user.svg') }}" alt="#">
                <p>Профиль</p>
            </div>
        </a>
        
    </div>
    <div class="container">
        <div class="nav">
            <!-- NAV -->
            {% block nav %}
            
            {% endblock %}
        </div>
        <div class="main">
            <!-- MAIN -->
            {% block main %}
            
            {% endblock %}
        </div>
    </div>
</body>
</html>