{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}


{% block nav %}
    <div class="teacher_nav">
        <a href="{{ url_for('teacher_evaluations') }}"><div class="teacher_nav_block teacher_nav_evaluations">Оценки</div></a>
        <a href="{{ url_for('teacher_inquiry') }}"><div class="teacher_nav_block teacher_nav_inquiry">Расписание</div></a>
        <a href="{{ url_for('teacher_homework') }}"><div class="teacher_nav_block teacher_nav_homework">Домашнее задание</div></a>
        <a href="{{ url_for('teacher_reports') }}"><div class="teacher_nav_block teacher_nav_reports">Отчеты</div></a>
    </div>
{% endblock %}


{% block main %}

{% endblock %}